:root{
  --bg:#F6F3EC;
  --accent:#5FAAD6;
  --accent-dark:#3D8FBD;
  --muted:#434954;
  --text:#0A3552;
  --font-sans: 'DM Sans', sans-serif;
  --font-serif: 'Lora', serif;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  color: var(--text);
  background: var(--bg);
  line-height: 1.65;
}

header {
  /* background: linear-gradient(180deg, #F1F7FB, #F1F7FB); */
  background: var(--bg);
  padding: .9rem 0px;
  position: sticky;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid rgba(10, 53, 82, 0.06);
}

.btn-rounded{
  display: inline-block;
  background: #66A0D5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 999px; /* redondeado completo */
  font-weight: 600;
  text-decoration: none;
  transition: all 0.25s ease;
}

.btn-rounded:hover {
  background: #77AADA;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 20px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.brand h1 {
  font-family: var(--font-serif);
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text);
}

nav {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  color: var(--text);
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: .9rem;
}

.btn-link {
  background: transparent;
  border: 1px solid rgba(10, 53, 82, 0.18);
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
}

.langbtn {
  background: transparent;
  /* border: 1px solid rgba(10, 53, 82, 0.18); */
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  margin-right: .5rem;
  text-decoration: underline;
  cursor: pointer;
}

/* HERO */
.hero {
  padding: 70px 0 40px;
  text-align: center;
  border: none;
}

.hero .name {
  font-family: var(--font-serif);
  font-size: 56px;
  margin: 0px;
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: normal;
}

.hero .phrase {
  max-width: 900px;
  margin: 0 auto;
  color: var(--muted);
  width: 69%;
}

.hero img {
  display: block;
  margin: 40px auto 0;
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 12px; /* opcional, para suavizar bordes */
  box-shadow: 0 6px 18px rgba(10, 53, 82, 0.08); /* leve sombra */
}

.tag {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 32px;
  /* border: 1px solid var(--accent); */
  background-color: #5faad645;
  color: var(--text);
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .3px;
  margin-bottom: 1rem;
}

.cta {
  display: inline-block;
  background: var(--accent-dark);
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 16px;
}

section {
  padding: 3rem 0;
  /* border-top: 1px solid rgba(10, 53, 82, 0.04); */
}

h3, h4 {
  font-family: var(--font-serif);
  font-size: 28px;
  margin: 0 0 12px;
  font-weight: 400;
}

.about-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items:center;
}

.about-flex img {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  border-radius: 1rem;
}

.muted {
  color: var(--muted);
}

.services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services li {
  padding: 12px 0;
  border-bottom: 1px dashed rgba(10, 53, 82, 0.08);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
}

.portfolio-grid figure {
  margin: 0;
}

.portfolio-grid img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  padding: 30px 0;
  text-align: center;
  color: var(--muted);
  font-size: 14px;
  border-top: 1px solid rgba(10, 53, 82, 0.06);
}

/* RESPONSIVE */
@media (max-width: 980px) {
  .about-flex {
    grid-template-columns: 1fr;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero .name {
    font-size: 44px;
  }
}

@media (max-width: 620px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

/* LIGHTBOX */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 8px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, .4);
}

/* FORM */
.form {
  display: grid;
  gap: .25rem;
}

.form label {
  font-weight: 600;
}

.form input {
  width: 100%;
  padding: 12px 12px;
  border: 1px solid rgba(10, 53, 82, 0.12);
  border-radius: 300px;
  font-family: var(--font-sans);
}
.form textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid rgba(10, 53, 82, 0.12);
  border-radius: 1rem;
  font-family: var(--font-sans);
}

.btn {
  background: var(--accent-dark);
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 800;
  cursor: pointer;
}

.success {
  display: none;
  color: #1a7f37;
  font-weight: 700;
}


/* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA */
/* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA */
/* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA */
/* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA */
/* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA */
/* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA */
/* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA *//* SECCION METODOLOGIA */
/* FOCUS SECTION */
.focus-section {
  background: var(--bg);
  padding: 80px 0;
  text-align: center;
  align-items: center;
}

.focus-label {
  display: inline-block;
  border: 1px solid #6b728063;
  color: var(--muted);
  padding: 4px 14px;
  border-radius: 999px;
  font-family: var(--font-sans);;
  font-size: 0.85rem;
  font-weight: 600;
  width: fit-content;
  letter-spacing: 0.5px;
  margin: 0px;
}

.focus-title {
  font-family: var(--font-serif);
  font-size: 3rem;
  line-height: normal;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: var(--text);
}

.focus-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.focus-card {
  background: white;
  border-radius: 20px;
  padding: 1.5rem;
  /* box-shadow: 0 8px 20px rgba(10, 53, 82, 0.05); */
  text-align: left;
  transition: all 0.3s ease;
}

.focus-card:hover {
  transform: translateY(-6px);
}

.focus-card .icon {
  background: var(--accent);
  color: #fff;
  font-size: 22px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.focus-card h4 {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  color: var(--text);
}

.focus-card p {
  color: var(--muted);
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
}

/* RESPONSIVE */
@media (max-width: 980px) {
  .focus-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 620px) {
  .focus-grid {
    grid-template-columns: 1fr;
  }

  .focus-title {
    font-size: 28px;
  }

  .focus-card {
    text-align: center;
  }

  .focus-card .icon {
    margin: 0 auto 12px;
  }
}


/* EDUPAZ SECTION */
.edupaz-section {
  background: var(--bg);
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edupaz-section .intro {
  max-width: 900px;
  margin: 0 auto 1.5rem;
  color: var(--muted);
  font-size: 1rem;
  line-height: 1.7;
  text-align: center;
}

.edupaz-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}

.edupaz-block {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 2rem;
  align-items: center;
  padding-bottom: 2.5rem;
}

.edupaz-block img {
  width: 92%;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  /* box-shadow: 0 6px 20px rgba(10, 53, 82, 0.06); */
}

.text-block{
  border-bottom: 1px solid rgba(10, 53, 82, 0.08);
}

.edupaz-block .icon {
  background: var(--accent);
  color: white;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.edupaz-block h4 {
  font-family: var(--font-serif);
  font-size: 1.6rem;
  margin: 0 0 0.6rem;
  color: var(--text);
  font-weight: 400;
}

.edupaz-block p {
  margin: 0 0 0.8rem;
  color: var(--muted);
  font-size: 0.95rem;
  line-height: 1.65;
}

.edupaz-block .muted strong {
  color: var(--text);
}

.footnote {
  text-align: center;
  color: var(--muted);
  font-size: 0.9rem;
  font-style: italic;
}

/* Responsive */
@media (max-width: 980px) {
  .edupaz-block {
    grid-template-columns: 1fr;
  }

  .edupaz-block .icon {
    margin: 0 auto 1rem;
  }

  .edupaz-block img {
    height: 240px;
    width: 100%;
  }
}


/* CONTACT SECTION */
.contact-card {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 2rem;
  align-items: center;
}

.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 6px 18px rgba(10, 53, 82, 0.06);
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form .focus-label {
  align-self: flex-start;
}

.contact-form .focus-title {
  font-size: 2rem;
  text-align: left;
  margin: .5rem 0 1rem;
}

.contact-form .form label {
  margin-top: 0.8rem;
}


.btn-form {
  background: #66A0D5;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 1000px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 1rem;
}

/* Responsive */
@media (max-width: 980px) {
  .contact-card {
    grid-template-columns: 1fr;
  }

  .contact-image img {
    height: 280px;
  }

  .contact-form {
    text-align: center;
  }

  .contact-form .focus-label {
    align-self: center;
  }

  .edupaz-block h4 {
    font-family: var(--font-serif);
    font-size: 1.3rem;
    margin: 0 0 0.6rem;
    color: var(--text);
    font-weight: 400;
  }
  header nav {
    display: none;
  }
  .btn-rounded {
    display: none;
  }
  .hero .phrase {
    width: 100%;
  }
  .contact-form .focus-title {
    font-size: 2rem;
    text-align: center;
    margin: .5rem 0 1rem;
  }
}
